extends ../layout

block content

   h1 Conversaciones

   if error
     p.text-danger= error

   if interests && interests.length > 0
    each interest in interests
      .card.mb-3
        .card-body

          if interest.Image && interest.Image.Post
            h5= interest.Image.Post.title

          if user.id === interest.Image.Post.user_id
            p
              strong Interesado:
              |  #{interest.User.name}
          else
            p
              strong Autor:
              |  #{interest.Image.Post.User.name}

          if interest.Image
            img.mb-2(src=`/images/${interest.Image.id}/raw`, width="150")

          br

          a.btn.btn-primary(href=`/messages/interests/${interest.id}`)
            | Abrir conversacion

    else
      p No tenes conversaciones.